name: Passing-Secrets

on:
  push:
    branches:
     - main

  workflow_dispatch:
        

jobs:
  generate-a-secret-output:

    runs-on: ubuntu-latest

    env:
      the_secret: 'Ex$!oK%&üp'

    steps:
      - id: sets-a-secret
        name: Generate, mask and output a secret  
        run: |
          THE_SECRET='Ex$!oK%&üp'
          echo "::add-mask::$THE_SECRET"
          echo "secret-number=$THE_SECRET" >> "$GITHUB_OUTPUT"

      - name: Use that secret output (protected by a mask)
        run: |
          echo "the secret number is ${{ steps.sets-a-secret.outputs.secret-number }}"
